[Unit]
Description=tak ada
After=syslog.target network.target

[Service]
ExecStart=ngrok http 80
Restart=on-failure
User=root


[Install]
WantedBy=multi-user.target
